{
   "printWidth": 80,
   "tabWidth": 3,
   "arrowParens": "always",
   "trailingComma": "all",
   "singleQuote": true,
   "semi": true,
   "jsxSingleQuote": false,
   "quoteProps": "consistent",
   "bracketSpacing": true,
   "bracketSameLine": true
}
